<div class="login-container">
  <form class="login-form" (submit)="handleLogin($event)">
    <!-- <h2>{{'LOGIN.TITLE' | translate}}</h2> -->
    <h2>BANKINHO</h2>
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="dto.email"
      name="email"
      required
    />
    <input
      type="password"
      [placeholder]="'LOGIN.PASSWORD' | translate"
      [(ngModel)]="dto.password"
      name="password"
      required
    />
    <button type="submit">{{'LOGIN.CLICK' | translate}}</button>
    <div *ngIf="error" class="error">{{ error }}</div>
    <div class="login-tail">
      <a routerLink="/register">{{'LOGIN.CREATE' | translate}}</a>
      <a routerLink="/forgot-password" (click)="onForgotPassword($event)">{{'LOGIN.RECOVER' | translate}}</a>
    </div>
  </form>
</div>
